{erl_opts, [warnings_as_errors]}.

{deps, [
    {ndto, {git, "git@github.com:nomasystems/ndto.git", {tag, "0.3.0"}}}
]}.

{project_plugins, [
    {erlfmt, {git, "git@github.com:WhatsApp/erlfmt.git", {branch, "main"}}}
]}.
{erlfmt, [write]}.

{alias, [
    {check, [
        {fmt, "--check"},
        dialyzer
    ]}
]}.
